{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %}
    {% translate "Create link" %}
{% endblock %}


{% block content %}
    {% translate "Create" as submit_text %}
    <h1>{% translate "Create link" %}</h1>
    <div class="row">

        <div class="col-lg-4">
        {% bootstrap_form_errors form %}
            <form method="post">
                {% csrf_token %}
                {% bootstrap_field form.link %}
                {% bootstrap_field form.alias %}
                {% buttons submit=submit_text %}{% endbuttons %}
            </form>
        </div>
    </div>
    <div class="row">
        {% if link %}
            <a href="{{ link.get_absolute_url }}" target="_blank">
                    {{ request.scheme }}://{{ request.get_host }}/{{ link.alias }}
            </a>
        {% endif %}
    </div>




{% endblock %}
