{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %}
    {% translate "Delete link" %}
{% endblock %}


{% block content %}
    {% translate "Confirm" as confirm_text %}
    <h1>{% translate "Delete link" %}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p>{% translate "Are you sure you want to delete?" %}
            <a href="{{ link.get_absolute_url }}" target="_blank">
                {{ request.scheme }}://{{ request.get_host }}/{{ link.alias }}
            </a>
        </p>
        <input type="submit" class="btn btn-outline-success" value="{{ confirm_text }}" />
    </form>

{% endblock %}
