{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}
    {% translate "All link" %}
{% endblock %}

{% block content %}
    <h1>{% translate "All link" %}</h1>
    <ul>
        {% for link in links %}
            <div class="row my-4">
                <p>
                    <a href="{{ link.get_absolute_url }}" target="_blank">
                        {{ request.scheme }}://{{ request.get_host }}/{{ link.alias }}
                    </a>
                    <em>{{ link.created_at }}</em>
                    <a href="{% url 'link_delete' link.pk %}" class="btn btn-outline-danger">{% translate "Delete" %}</a>
                </p>
            </div>
        {% endfor %}
    </ul>
    {% bootstrap_pagination page_obj %}
{% endblock %}
